<!DOCTYPE html>
<html>
  <head>
    <title></title>

    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <script type="text/javascript" src="/bootstrap/js/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>

    <style>

        #list img {
          width: 64px;
        }
    </style>
  </head>
  <body>
    <div class="container">
        <input type="hidden" value="<%= id%>"/>
        <h3 class="text-center"></h3>
        <p class="text-left"></p>
        <div class="img">

        </div>
        <p class="text-justify"></p>
        <p class="text-nowrap"></p>

    </div>


    <script type="text/javascript" src="/javascripts/detail.js"></script>
  </body>
</html>
